<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- //visuals and architecture will be fixed kad sve bude radilo -->
	<div id="app">
		<div class="counter">
			<h1> MC DONALD'S CALORIE COUNTER</h1>
			<div class="countdown">
				<div class="box">
					<h2>{{totalCalorie}}</h2>
					<p>Calories</p>
				</div>
				<div class="box">
					<h2>{{totalCarbs}}</h2>
					<p>Carbs</p>
				</div>
				<div class="box">
					<h2>{{totalProtein}}</h2>
					<p>Protein</p>
				</div>
				<div class="box">
					<h2>{{totalSugar}}</h2>
					<p>Sugar</p>
				</div>
			</div>
			<!-- <img v-bind:src="/img/burgers.png" v-bind:alt="Burger"> -->
			<!-- DISPLAY SELECTED ITEMS -->
			<div class="selected"><p v-if="show">Your items:</p>
				<ul>
					<li  v-for="item in selectedItems">
						<a href="">{{item.name}} 
							<button @click.prevent="removeItems(item)">x</button>
						</a>
					</li>	
				</ul>
			</div>
			<!-- DISPLAY ALL ITEMS -->
			
			<ul class="items">
				<!-- TITLE -->
				<h4 @click="showBurgers" >Burgers</h4>
			
				
				<li v-if="burgers"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'BURGERSANDWICH'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
				
				<!-- title -->
				<h4 @click="showSandwich" href="#">Chicken &amp; Sandwiches </h4>
				<li v-if="sandwich"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'CHICKENFISH'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
				
				
				<!-- title -->
				<h4 @click="showSalad" href="#">Salads</h4></li>
				<li v-if="salad"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'SALAD'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
				<!-- title -->
				<h4 @click="showSnack" href="#">Snacks &amp; Sides</h4>
				<li v-if="snacks"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'SNACKSIDE'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
				
				<!-- title -->
				<h4 @click="showDrinks" href="#">Drinks</h4>
				<li v-if="drinks"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'BEVERAGE'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
				
				<!-- title -->
				<h4 @click="" href="#">MCCaffè</h4>
				<li v-if="cafe"  v-for="item in info" >
					<a href='#'  v-if="item.CATEGORY == 'MCCAFE'" @click.prevent="addItems(item)">{{item.ITEM}}</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/vendor.js"></script>
<script type="text/javascript" src="scripts/scripts.min.js"></script>
</body>
</html>