//SELECTED ITEMS

.selected{
    border-bottom: 2px solid rgba(70, 83, 98, 0.4);
    p{
        margin:0;
        padding:0;
    }
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
}

.items {
    h4{
        cursor: pointer;
        padding:4px;
        &:hover{
            padding:10px;
            background-color: $blue;
            color:$white;
            border-radius: 10px;
        }
    }
}