.counter{
    margin:0 auto;
    
    // border:1px solid black;
    display:flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 30px;
        text-align: center;
    }
    .countdown{
        display:flex;
        flex-direction: row;
    }
    .food{
        padding-top: 30px;

        display: grid;
        grid-template-columns:33% 33% 33%;
        justify-content: center;
        grid-gap: 15px 10px;
        .single-block{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            // width:400px;
            h4{
                // width:30%;
            }
            ul{
                li{
                    // max-width: 30%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        
    }
    
    
	
}