
	.counter{

		// height:500px;
		// width:600px;
		background-color: $yellow;
		h1{
			text-align: center;
			padding:20px;
			background-color: $blue;
			font-size: 25px;
			color:$white;
			font-weight: 800;
		}
	}
